<h2>ALL POSTS</h2>

<h4>COMMENTS</h4>
<% if Comment.all %>
<% Comment.all.each do |comment| %>
	<p><%=" TEXT: #{ comment.text } POST_ID: #{ comment.post_id } BY: #{ comment.user.fname } #{ comment.user.lname }" %></p>
  <% end %>
<% end %>

<% if @post %>
  <% @post.each do |post| %>
      <p class="text"><%= post.text %></p>
      <small><em><%= "--- writ by #{ post.user.fname } #{ post.user.lname }"%></em></small>
      <a href "#">ADD A COMMENT</a>
      <br>
      <br>
  <% end %>
<% end %>


