<h2>ALL POSTS</h2>


<% if @post %>
  <% @post.each do |post| %>
      <p class="text"><%= post.text %></p>
      <small><em><%= "--- writ by #{ post.user.fname } #{ post.user.lname }"%></em></small>
      <a href=<%="#{post.id}/comments/new"%>>ADD A COMMENT</a>
      <h4>COMMENTS</h4>

      <% if post.comments %>
		<% post.comments.each do |comment| %>

		<h5><%="#{comment.text}  --- reply by #{ comment.user.fname } #{ comment.user.lname}"%></h5>

		  <% end %>
		<% end %>

      <br>
      <br>
  <% end %>
<% end %>


