<h2>ALL POSTS</h2>


<% if @post %>
  <% @post.each do |post| %>
      <p class="text"><%= post.text %></p>
      <small><em>By: <%= post.user.fname %></em></small>
      <br>
      <br>
  <% end %>
<% end %>

