<h2>ALL POSTS</h2>


<% if @post %>
  <% @post.each do |post| %>
      <p class="text"><%= post.text %></p>
      <small><em><%= "--- writ by #{ post.user.fname } #{ post.user.lname }"%></em></small>
      <br>
      <br>
  <% end %>
<% end %>

