<h1>=========================</h1>
<h1>partial --- new post form</h1>

<%= form_for @post do |f| %>
  <%= f.text_field :text, :placeholder =>"Enter Post Here"%>
  <%= f.submit %>

<h4>[put form here]</h4>
<h1>=========================</h1>