<h1>THIS IS HOMES PAGE</h1>
<h4>The Join Us / Login should redirect you here</h4>

<h2> First Name:   </h2>
<h2> Last Name:   </h2>
<h2> Email:    </h2>

<em>Session user id</em>
<%= session[:user_id] %>

<%= render "posts/new" %>

<h3>render posts#show aka GET /posts/:id/ </h3>
<%= render "posts/#{session[:user_id]}" %>

<h4>On right column, have text area form</h4>
<h4>to create new post.</h4>

<h5>Below that, list most recent posts by user</h5>