<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<% if @comment %>
  <% @comment.each do |comment| %>
      <p class="text"><%= comment.text %></p>
      <small><em><%= "COMMENT ID AND USER_ID #{ comment.id } #{ comment.user_id }"%></em></small>
      <br>
      <br>
  <% end %>
<% end %>
