<h1>Comments#NEW</h1>


<h1>CREATE COMMENT</h1>
<p>[place text area form here]<p>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :text, :placeholder =>"Enter Comment Here"%>
  <%= f.submit %>
<% end %>

